{
    "installedESLint": true,
    "extends": "standard",
    "rules": {
    "semi": [2, "always"],
    "eol-last": 0,
    "no-return-assign": 0,
    "no-negated-condition": 0,
    "max-len": 0
    }
}